
<div class="row">
  <div class="col-md-12">

    <h3>Prebooking</h3>

    <form [formGroup]="prebookForm"  (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="hostInput">Host</label>
        <input type="text" class="form-control" id="hostInput" formControlName="hostInput">
      </div>

      <div class="form-group">
        <label class="control-label" for="visitCategory">Visit Category</label>
        <select id="visitCategory" class="form-control" formControlName="visitCategory">
          <option  *ngFor="let visitorValeu of visitorCategory" 
            [value]="visitorValeu">{{ visitorValeu }}
          </option>
        </select>
      </div>

      <div class="dateTime" formGroupName="dateTime" > <!-- date & time group starts -->
        <div class="row">
          <label for="visitDateTime">Visit Date & Time</label>
          <div class="col-md-12" id="visitDateTime">
            <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="dateExpected">Expected</label>
                  <div class="row">
                    <div class="col-md-7">
                      <input type="date" id="dateExpected" formControlName="dateExpected">
                    </div>
                    <div class="col-md-5">
                      <input type="time" id="timeExpected" formControlName="timeExpected">
                    </div>
                  </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="dateEnd">End</label>
                <div class="row">
                  <div class="col-md-7">
                    <input type="date"  id="dateEnd" formControlName="dateEnd">
                  </div>
                  <div class="col-md-5">
                      <input type="time" id="timeEnd" formControlName="timeEnd">
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div> <!-- date & time group ends -->

      <div class="form-group" >
        <label for="locations">Location</label>
        <div class="form-control checkbox-control group-location" formArrayName="location">
          
          <div class="form-check" *ngFor="let loc of location.controls; let i = index">
            <input 
              class="form-check-input ckeck-input" 
              [id]="i"
              type="checkbox"
              [formControlName]="i"
              (change)="resetValidations()"
            > 
            <label class="form-check-label" [for]="i">{{ locations[i].company }}</label>
          </div>
        </div>  

      </div>

      <div class="row">
        <div class="col-md-12 prebookBtns">
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            <button type="submit" [disabled]="prebookForm.invalid" class="btn btn-success">Next</button>
        </div>
      </div>

    </form>

  </div>
</div>