<div id="loggedOutDiv">

  <div class="rightDiv">

    <div class="rightList lists">
      <ul class="ulHeader uls">
          <li class="liHeader">Visitor Name</li>
          <li class="liHeader">Visitor Company</li>
          <li class="liHeader">Date</li>
          <li class="liHeader">Time</li>
          <li class="liHeader">Host by</li>
          <li class="liHeader">Host Company</li>
      </ul>
      <ul class="ulGenerated uls" *ngFor="let log of logged; let i = index" >
        <li>{{log.visitorName}}</li>
        <li>{{log.visitorCompany}}</li>
        <li>{{log.dateExpected}}</li>
        <li>{{log.timeExpected}}</li>
        <li>{{log.hostName}}</li>
        <li>{{log.hostCompany}}</li>
      </ul>
    </div>
    <div class="commands">
      <ul class="ulCommands">
        <li class="liCommands"><a ><i class="fas fa-sign-out-alt"></i></a></li>
        <li class="liCommands"><a ><i class="fas fa-edit"></i></a></li>
        <li class="liCommands"><a ><i class="fas fa-trash-alt"></i></a></li>
      </ul>
    </div>
    
  </div> <!-- right ends -->
  
</div>