
<div class="rowVisitor">

  <header>
    <h1>Visitor</h1>
    <div class="search">
        <form>
          <div class="form-group">
            <label for="serach">Search (name or company)</label>
            <input type="text" class="form-control">
          </div>
        </form>
        <div>
          <button class="btn btn-primary myBtn">search</button>
        </div>
    </div>
  </header>

  <div class="logged">
    <h2>Vitors Expected</h2>
    <br class="br" />
    <app-logged (loggedToprint)="loggedInfoToPrint($event)" ></app-logged>
  </div>

  <div class="loggedOut">
    <h2>{{ LoggerdOrEdit }}</h2>
    <br class="br" />   
    <router-outlet></router-outlet>
  </div> 


<!-- to printe -->
<div class="divCard">
    <span class="close" (click)="closePrinting() ">X</span>
    <div class="innerCard" #toPrint >
      <div class="head">
        <h4>Sky Visitor</h4>
      <p>A Visitor Software</p>
      </div>
      <div class="body">
        <h2>Visitor</h2>
        <h3 class="name">{{ toPrintInfo.name }}</h3>
        <p class="company">{{ toPrintInfo.company }}</p>
        <p class="date">{{ toPrintInfo.date }}</p>
      </div>  
    </div>
    <button class="btn btn-primary button" (click)="printing(toPrint)" >Print</button>
  </div>
  <!-- to printe -->

</div> <!-- rowVisitor  -->